/* Site */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	color: #000000;
	background-color: #CCCCCC;
	font-size: 1rem;
}

html, body {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 100vh;
}

.site-header {
	display: flex;
	align-items: center;
	padding: 0.4rem;
	gap: 0.5rem;
	color: #333333;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-header-logo {
	vertical-align: bottom;
}

.site-header-link {
	display: inline-block;
	font-size: 1.75rem;
	text-decoration: none;
	color: #006699;
}

.site-header-motto {
	font-size: 1.10rem;
	font-style: italic;
}

.site-sister-links {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-sister-links a {
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	border-right: 1px solid #AAAAAA;
	color: #333333;
}

.site-sister-links a:hover, .site-sister-links a:focus, .site-sister-links a:focus-within, .site-sister-links a:active {
	color: #006699;
}

.site-main-menu {
	display: flex;
	align-items: center;
	font-weight: bold;
	background: linear-gradient(#1177AA, #0E5478);
}

.site-main-menu a {
	display: flex;
	padding: 0.4rem 0.5rem 0.25rem 0.5rem;
	margin: 0 0.2rem;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #F6F6F6;
}

.site-main-menu a:hover, .site-main-menu a:focus, .site-main-menu a:focus-within, .site-main-menu a:active {
	border-bottom-color: #CCCCCC;
}

.site-main-menu a.site-main-menu-active {
	border-bottom-color: #CCCCCC;
}

.site-main-menu-right {
	margin-left: auto;
}

.site-main-menu-right a {
	display: inline-block;
}

.site-main-content {
	display: flex;
	flex: 1;
}

.site-sidebar {
	width: 12rem;
	flex-shrink: 0;
	padding: 0.5rem 0;
	border-right: 1px solid #AAAAAA;
	color: #333333;
	background-color: #EEEEEE;
}

.site-sidebar ul {
	list-style: none;
}

.site-sidebar li:hover, .site-sidebar li:focus, .site-sidebar li:focus-within, .site-sidebar li:active {
	background-color: #DDDDDD;
	border-right: 3px solid #AAAAAA;
}

.site-sidebar-active {
	background-color: #DDDDDD;
	border-right: 3px solid #AAAAAA;
}

.site-sidebar a {
	display: block;
	padding: 0.25rem 0.5rem;
	margin: 0.2rem 0;
	color: #333333;
	text-decoration: none;
}

.site-sidebar-inner a {
	padding-left: 1.5rem;
}

.site-sidebar-inner-inner a {
	padding-left: 2.0rem;
}

.site-view-content {
	flex: 1;
	background-color: #FFFFFF;
}

.site-view-tabs {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #AAAAAA;
	color: #333333;
	background-color: #EEEEEE;
}

.site-view-tabs a {
	display: flex;
	padding: 0.4rem 0.5rem 0.25rem 0.5rem;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #333333;
}

.site-view-tabs a:hover, .site-view-tabs a:focus, .site-view-tabs a:focus-within, .site-view-tabs a:active {
	border-bottom-color: #AAAAAA;
	background-color: #DDDDDD;
}

.site-view-tabs-right {
	margin-left: auto;
}

.site-view-tabs-right a {
	display: inline-block;
}

.site-view-tabs a.site-view-tabs-active {
	border-bottom-color: #AAAAAA;
	background-color: #DDDDDD;
}

.site-view-markdown {
	padding: 1.0rem;
	line-height: 1.5;
}

.site-footer {
	overflow: hidden;
	clear: both;
	border-top: 1px solid #AAAAAA;
	padding: 0.4rem;
	color: #333333;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-footer-center {
	padding: 0.2rem;
	text-align: center;
}

.site-footer a {
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

.site-footer a:hover, .site-footer a:focus, .site-footer a:focus-within, .site-footer a:active {
	color: #006699;
}

/* Markdown */
a {
	color: #006699;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid #AAAAAA;
	margin: 1.0rem 0;
}

p {
	padding: 0.3rem 0;
}

h1 {
	padding: 0.3rem 0;
	font-size: 1.4em;
}

h2 {
	padding: 0.3rem 0;
	font-size: 1.3em;
}

h3 {
	padding: 0.2rem 0;
	font-size: 1.2em;
}

h4 {
	padding: 0.2rem 0;
	font-size: 1.0em;
}

h5 {
	padding: 0.2rem 0;
	font-size: 0.9em;
}

h6 {
	padding: 0.2rem 0;
	font-size: 0.8em;
}

blockquote {
	padding-left: 0.5rem;
	border-left: 3px solid #AAAAAA;
	color: #555555;
}

.anchor-link {
	text-decoration: none;
}

/*
code:not(pre code) {
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	padding: 0.2rem 0.3rem;
	font-size: 0.8rem;
	hyphens: manual;
}

pre, .sourceCode {
	overflow: auto;
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	font-size: 0.8rem;
	hyphens: manual;
	margin: 0.3rem 0;
}

.sourceCode pre, .sourceCode code, pre code {
	border: none;
	background: none;
	overflow-wrap: normal;
}

.sourceCode pre, pre {
	padding: 0.3rem;
}
*/

/* Code Highlighting */
code span.al { color: #FF0000; font-weight: bold; } /* Alert */
code span.an { color: #60A0B0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7D9029; } /* Attribute */
code span.bn { color: #40A070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070A0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60A0B0; font-style: italic; } /* Comment */
code span.cv { color: #60A0B0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #BA2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40A070; } /* DecVal */
code span.er { color: #FF0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40A070; } /* Float */
code span.fu { color: #06287E; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60A0B0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #BC7A00; } /* Preprocessor */
code span.sc { color: #4070A0; } /* SpecialChar */
code span.ss { color: #BB6688; } /* SpecialString */
code span.st { color: #4070A0; } /* String */
code span.va { color: #19177C; } /* Variable */
code span.vs { color: #4070A0; } /* VerbatimString */
code span.wa { color: #60A0B0; font-weight: bold; font-style: italic; } /* Warning */
