/* Site */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	color: #000000;
	background-color: #CCCCCC;
	font-size: 1rem;
}

html, body {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 100vh;
}

.site-header {
	display: flex;
	align-items: center;
	padding: 0.4rem;
	gap: 0.5rem;
	color: #555555;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-header-logo {
	vertical-align: bottom;
}

.site-header-link {
	display: inline-block;
	font-size: 1.75rem;
	text-decoration: none;
	color: #1177AA;
}

.site-header-motto {
	font-size: 1.10rem;
	font-style: italic;
}

.site-sister-links {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-sister-links a {
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	border-right: 1px solid #AAAAAA;
}

.site-sister-links a:hover, .site-sister-links a:focus-within, .site-sister-links a:active {
	color: #666666;
}

.site-main-menu {
	display: flex;
	align-items: center;
	font-weight: bold;
	background: linear-gradient(#1177AA, #0E5478);
}

.site-main-menu a {
	padding: 0.30rem 0.5rem 0.25rem 0.5rem;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #F6F6F6;
}

.site-main-menu a:hover, .site-main-menu a:focus-within, .site-main-menu a:active {
	border-bottom-color: #CCCCCC;
}

.site-main-menu a.site-main-menu-active {
	border-bottom: 3px solid #CCCCCC;
}

.site-main-menu-right {
	margin-left: auto;
}

.site-main-content {
	display: flex;
	flex: 1;
}

.site-sidebar {
	width: 12rem;
	flex-shrink: 0;
	padding: 0.5rem 0;
	border-right: 1px solid #AAAAAA;
	color: #555555;
	background-color: #EEEEEE;
}

.site-sidebar ul {
	list-style: none;
}

.site-sidebar li:hover, .site-sidebar li:focus-within, .site-sidebar li:active {
	background-color: #DDDDDD;
	border-right: 3px solid #AAAAAA;
}

.site-sidebar-active {
	background-color: #DDDDDD;
	border-right: 3px solid #AAAAAA;
}

.site-sidebar a {
	display: block;
	padding: 0.25rem 0.5rem;
	margin: 0.2rem 0;
	color: #555555;
	text-decoration: none;
}

.site-sidebar-inner a {
	padding-left: 1.5rem;
}

.site-sidebar-inner-inner a {
	padding-left: 2.0rem;
}

.site-view-content {
	flex: 1;
	background-color: #FFFFFF;
}

.site-view-tabs {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #AAAAAA;
	color: #555555;
	background-color: #EEEEEE;
}

.site-view-tabs a {
	padding: 0.30rem 0.5rem 0.25rem 0.5rem;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #555555;
}

.site-view-tabs a:hover, .site-view-tabs a:focus-within, .site-view-tabs a:active {
	border-bottom-color: #AAAAAA;
	background-color: #DDDDDD;
}

.site-view-tabs-right {
	margin-left: auto;
}

.site-view-tabs a.site-view-tabs-active {
	border-bottom-color: #AAAAAA;
	background-color: #DDDDDD;
}

.site-view-markdown {
	padding: 1.0rem;
	line-height: 1.2;
}

.site-footer {
	overflow: hidden;
	clear: both;
	border-top: 1px solid #AAAAAA;
	padding: 0.4rem;
	color: #555555;
	background: linear-gradient(#EEEEEE, #E6E6E6);
}

.site-footer-center {
	padding: 0.2rem;
	text-align: center;
}

.site-footer a {
	font-weight: bold;
	text-decoration: none;
}

.site-footer a:hover, .site-footer a:focus-within, .site-footer a:active {
	color: #666666;
}

.glow-light, .glow-dark {
	-moz-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.glow-light {
	text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px;
	background-color: #666666;
}

.glow-dark {
	text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
	background-color: #666666;
}
