/* Site */
:root {
	--max-site-width: 87.5rem; /* 1400px */
	--base-fg-color: black;
	--base-bg-color: #CCCCCC;
	--base-fg-light: white;
	--base-bg-light: #EEEEEE;
	--fg-color: #333333;
	--link-color: #006699;
	--link-visited: #006699;
	--border: 1px solid #AAAAAA;
	--border-color: #DDDDDD;
	--border-tabs-color: #AAAAAA;
	--border-huge: 3px solid #AAAAAA;
	--border-huge-transparent: 3px solid transparent;
	--gradient-light: linear-gradient(#EEEEEE, #E6E6E6);
	--shadow-light: white 0 1px;
	--shadow-dark: black 1px 1px;
	--gradient-menu: linear-gradient(#1177AA, #0E5478);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	color: var(--base-fg-color);
	background-color: var(--base-bg-color);
	font-size: 1rem;
}

html, body {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: var(--max-site-width);
	min-height: 100vh;
}

.site-header {
	display: flex;
	align-items: center;
	padding: 0.4rem;
	gap: 0.5rem;
	color: var(--fg-color);
	background: var(--gradient-light);
	text-shadow: var(--shadow-light);
}

.site-header-logo {
	vertical-align: bottom;
}

.site-header-link {
	display: inline-block;
	font-size: 1.75rem;
	text-decoration: none;
	color: var(--link-color);
}

.site-header-motto {
	font-size: 1.10rem;
	font-style: italic;
}

.site-sister-links {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
	border-top: var(--border);
	border-bottom: var(--border);
	background: var(--gradient-light);
	text-shadow: var(--shadow-light);
}

.site-sister-links a {
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	border-right: var(--border);
	color: var(--fg-color);
}

.site-sister-links a:is(:hover, :focus, :focus-within, :active) {
	color: var(--link-color);
}

.site-main-menu {
	display: flex;
	align-items: center;
	font-weight: bold;
	background: var(--gradient-menu);
}

.site-main-menu a {
	display: flex;
	padding: 0.4rem 0.5rem 0.25rem 0.5rem;
	margin: 0 0.2rem;
	text-decoration: none;
	border-bottom: var(--border-huge-transparent);
	color: var(--base-fg-light);
	text-shadow: var(--shadow-dark);
}

.site-main-menu a:is(:hover, :focus, :focus-within, :active) {
	border-bottom-color: var(--base-bg-color);
}

.site-main-menu a.site-main-menu-active {
	border-bottom-color: var(--base-bg-color);
}

.site-main-menu-right {
	margin-left: auto;
}

.site-main-menu-right a {
	display: inline-block;
}

.site-main-content {
	display: flex;
	flex: 1;
}

.site-sidebar {
	width: 12rem;
	flex-shrink: 0;
	padding: 0.5rem 0;
	border-right: var(--border);
	color: var(--fg-color);
	background-color: var(--base-bg-light);
	text-shadow: var(--shadow-light);
}

.site-sidebar ul {
	list-style: none;
}

.site-sidebar li:is(:hover, :focus, :focus-within, :active) {
	background-color: var(--border-color);
	border-right: var(--border-huge);
}

.site-sidebar-active {
	background-color: var(--border-color);
	border-right: var(--border-huge);
}

.site-sidebar a {
	display: block;
	padding: 0.25rem 0.5rem;
	margin: 0.2rem 0;
	color: var(--fg-color);
	text-decoration: none;
}

.site-sidebar-inner a {
	padding-left: 1.5rem;
}

.site-sidebar-inner-inner a {
	padding-left: 2.0rem;
}

.site-view-content {
	flex: 1;
	background-color: var(--base-fg-light);
	min-width: 0;
}

.site-view-tabs {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	padding-left: 0.5rem;
	border-bottom: var(--border);
	color: var(--fg-color);
	background-color: var(--base-bg-light);
	text-shadow: var(--shadow-light);
}

.site-view-tabs a {
	display: flex;
	padding: 0.4rem 0.5rem 0.25rem 0.5rem;
	text-decoration: none;
	border-bottom: var(--border-huge-transparent);
	color: var(--fg-color);
}

.site-view-tabs a:is(:hover, :focus, :focus-within, :active) {
	border-bottom-color: var(--border-tabs-color);
	background-color: var(--border-color);
}

.site-view-tabs-right {
	margin-left: auto;
}

.site-view-tabs-right a {
	display: inline-block;
}

.site-view-tabs a.site-view-tabs-active {
	border-bottom-color: var(--border-tabs-color);
	background-color: var(--border-color);
}

.site-footer {
	overflow: hidden;
	clear: both;
	border-top: var(--border);
	padding: 0.4rem;
	color: var(--fg-color);
	background: var(--gradient-light);
	text-shadow: var(--shadow-light);
}

.site-footer-center {
	padding: 0.2rem;
	text-align: center;
}

.site-footer a {
	font-weight: bold;
	text-decoration: none;
	color: var(--fg-color);
}

.site-footer a:is(:hover, :focus, :focus-within, :active) {
	color: var(--link-color);
}

/* Markdown and Pandoc */
.site-view-markdown {
	padding: 1.0rem;
	line-height: 1.5;
	hyphens: auto;
}

.site-view-markdown p {
	padding: 0.3rem 0;
}

.site-view-markdown a {
	color: var(--link-color);
}

.site-view-markdown a:visited {
	color: var(--link-visited);
}

.pandoc-header a {
	text-decoration: none;
}

.pandoc-header a:visited {
	color: var(--link-color);
}

.pandoc-header {
	padding: 0.3rem 0;
}

.site-view-markdown h1 {
	font-size: 1.4rem;
}

.site-view-markdown h2 {
	font-size: 1.3rem;
}

.site-view-markdown h3 {
	font-size: 1.2rem;
}

.site-view-markdown h4 {
	font-size: 1.0rem;
}

.site-view-markdown h5 {
	font-size: 0.9rem;
}

.site-view-markdown h6 {
	font-size: 0.8rem;
}

.site-view-markdown table {
	width: 100%;
	border-collapse: collapse;
	margin: 0.3rem 0;
}

.site-view-markdown th, .site-view-markdown td {
	border: var(--border);
	padding: 0.5rem;
	text-align: left;
}

.site-view-markdown th {
	font-weight: bold;
	background-color: var(--base-bg-light);
}

.site-view-markdown .th-10 {
	width: 10%;
}

.site-view-markdown .th-15 {
	width: 15%;
}

.site-view-markdown .th-20 {
	width: 20%;
}

.site-view-markdown .th-25 {
	width: 25%;
}

.site-view-markdown .th-33 {
	width: 33%;
}

.site-view-markdown .th-50 {
	width: 50%;
}

.site-view-markdown .th-75 {
	width: 75%;
}

.site-view-markdown .pandoc-code-inline, .site-view-markdown .pandoc-code-block {
	hyphens: none;
	font-size: 0.8rem;
	font-family: monospace;
	background-color: var(--base-bg-light);
	white-space: nowrap;
}

.site-view-markdown .pandoc-code-inline {
	display: inline;
	vertical-align: middle;
	padding: 0.125rem 0.25rem;
	overflow-x: visible;
	border: var(--border);
}

.site-view-markdown .pandoc-code-block {
	overflow-x: auto;
	display: block;
	padding: 0.5rem 0.8rem;
	margin: 0.3rem 0;
	border: var(--border);
}

.site-view-markdown blockquote {
	padding: 0 0.5rem;
	margin: 0.3rem 0;
	border-left: 4px solid #AAAAAA;
	color: #555555;
}

.site-view-markdown ul, .site-view-markdown ol {
	padding-left: 1.0rem;
}

.site-view-markdown ul a, .site-view-markdown ol a {
	text-decoration: none;
}

.site-view-markdown hr {
	border: 0;
	height: 0.125rem;
	background-color: var(--border-tabs-color);
	margin: 0.3rem 0;
}

.site-view-markdown .footnote-ref, .site-view-markdown .footnote-back {
	text-decoration: none;
}

.site-view-markdown .footnote-ref:is(:hover, :focus, :focus-within, :active),
.site-view-markdown .footnote-back:is(:hover, :focus, :focus-within, :active) {
	text-decoration: underline;
}

.site-view-markdown .task-list li {
	list-style-type: none;
}

.site-view-markdown .task-list input[type="checkbox"],
.site-view-markdown .task-list label:has(input[type="checkbox"]) {
	margin: 0 0.4rem 0.1rem -0.4rem;
	vertical-align: middle;
	pointer-events: none;
}

.site-view-markdown summary {
	cursor: pointer;
}

.site-view-markdown details[open] summary ~ * {
	margin-left: 1.1rem;
}

.site-view-markdown .markdown-alert {
	padding: 0 0.5rem;
	margin: 0.3rem 0;
	border-left: 4px solid #D1D9E0;
}

.site-view-markdown .markdown-alert .markdown-alert-title {
	display: flex;
	font-weight: 500;
	align-items: center;
}

.site-view-markdown .markdown-alert-note {
	border-left-color: #0969DA;
}

.site-view-markdown .markdown-alert-note .markdown-alert-title {
	color: #0969DA;
}

.site-view-markdown .markdown-alert-tip {
	border-left-color: #238636;
}

.site-view-markdown .markdown-alert-tip .markdown-alert-title {
	color: #238636;
}

.site-view-markdown .markdown-alert-important {
	border-left-color: #8250DF;
}

.site-view-markdown .markdown-alert-important .markdown-alert-title {
	color: #8250DF;
}

.site-view-markdown .markdown-alert-warning {
	border-left-color: #BF8700;
}

.site-view-markdown .markdown-alert-warning .markdown-alert-title {
	color: #BF8700;
}

.site-view-markdown .markdown-alert-caution {
	border-left-color: #CF222E;
}

.site-view-markdown .markdown-alert-caution .markdown-alert-title {
	color: #CF222E;
}

.site-view-markdown .markdown-alert-icon {
	margin-right: 0.3rem;
	fill: currentColor;
}

.site-view-markdown .video-details {
	border: var(--border);
}

.site-view-markdown .video-summary {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	padding: 0.6rem;
	list-style: none;
}

.site-view-markdown .video-icon {
	fill: black;
}

.site-view-markdown .video-play {
	fill: white;
}

.site-view-markdown kbd {
	display: inline-block;
	padding: 0.25rem;
	font: 0.75rem monospace;
	line-height: 0.75rem;
	vertical-align: middle;
	color: var(--fg-color);
	background-color: var(--base-bg-light);
	border: var(--border);
	border-radius: 4px;
	box-shadow: inset 0 -1px 0 #0D0D0DB3;
	text-shadow: var(--shadow-light);
}

.site-view-markdown .red {
	color: red;
}

.site-view-markdown .green {
	color: green;
}

.site-view-markdown .blue {
	color: blue;
}

/* Code Highlighting */
code span.al { color: #FF0000; } /* Alert */
code span.an { color: #60A0B0; } /* Annotation */
code span.at { color: #7D9029; } /* Attribute */
code span.bn { color: #40A070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; } /* ControlFlow */
code span.ch { color: #4070A0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60A0B0; } /* Comment */
code span.cv { color: #60A0B0; } /* CommentVar */
code span.do { color: #BA2121; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40A070; } /* DecVal */
code span.er { color: #FF0000; } /* Error */
code span.ex { color: #08287E; } /* Extension */
code span.fl { color: #40A070; } /* Float */
code span.fu { color: #06287E; } /* Function */
code span.im { color: #008000; } /* Import */
code span.in { color: #60A0B0; } /* Information */
code span.kw { color: #007020; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #BC7A00; } /* Preprocessor */
code span.sc { color: #4070A0; } /* SpecialChar */
code span.ss { color: #BB6688; } /* SpecialString */
code span.st { color: #4070A0; } /* String */
code span.va { color: #19177C; } /* Variable */
code span.vs { color: #4070A0; } /* VerbatimString */
code span.wa { color: #60A0B0; } /* Warning */
