html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}

code, pre {
	margin: 0;
	border: 1px solid #CCCCCC;
	padding: 1px;
}

pre {
	padding: 2px;
}

pre code {
	margin: 0;
	padding: 0;
	border: none !important;
}

a {
	color: #005386;
}

h1 {
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 1.4rem;
}

h2 {
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 1.3rem;
}

h3 {
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 1.0rem;
}

h4 {
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 0.9rem;
}

.class-anchor {
	text-decoration: none;
}

.class-anchor a:hover {
	text-decoration: underline;
}

.class-pos-right {
	float: right;
	margin: 0;
	padding: 0;
}

.class-pos-left {
	float: left;
	margin: 0;
	padding: 0;
}

.class-pos-center {
	text-align: center;
}

.class-pos-sidebar-inner-ul {
	padding-left: 0.50em !important;
}

.class-link-active {
	background-color: #DDDDDD !important;
}

.class-link-menu-active {
	background-color: #006699 !important;
}

#id-header {
	clear: both;
	padding: 0.35em 0.35em 0.35em 0.7em;
	font-size: 1.78rem;
	color: #555555;
	background-color: #EEEEEE;
}

#id-menu {
	overflow: hidden;
	clear: both;
	padding: 0.35em;
	color: #006699;
	background-color: #1177AA;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #006699;
}

#id-view-main {
	display: flex;
	flex: 1;
	margin: 0;
	padding: 0;
}

#id-view-content {
	flex: 1;
	margin: 0;
}

#id-tabs {
	overflow: hidden;
	clear: both;
	padding: 0.35em;
	border-bottom: 1px solid #CCCCCC;
	color: #555555;
	background-color: #EEEEEE;
}

#id-view-markdown {
	padding: 1.0em;
}

#id-sidebar {
	padding: 1em 0;
	border-right: 1px solid #CCCCCC;
	color: #555555;
	background-color: #EEEEEE;
	width: 180px;
}

#id-footer {
	padding: 0.50em;
	color: #FFFFFF;
	background-color: #1177AA;
	border-top: 1px solid #CCCCCC;
}

#id-header-subtitle {
	font-style: italic;
	font-size: 0.75em;
}

#id-header a, #id-menu a, #id-sidebar a,  #id-tabs a, #id-footer a{
	text-decoration: none;
}

#id-header a {
	color: #1177AA;
}

#id-menu a:hover, #id-menu a:focus, #id-menu a:active {
	background-color: #006699;
}

#id-menu a {
	padding: 0.25em 0.5em;
	color: #FFFFFF;
}

#id-sidebar a, #id-tabs a {
	padding: 0.25em 0.5em;
	color: #555555;
}

#id-sidebar a:hover, #id-sidebar a:focus, #id-sidebar a:active {
	background-color: #DDDDDD;
}

#id-sidebar ul {
	margin: 0;
	padding: 0;
}

#id-sidebar li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#id-sidebar li ul {
	padding-left: 0.6em !important;
}

#id-sidebar li a {
	display: block;
	margin: 0;
	padding: 0.4em;
}

#id-tabs a:hover, #id-tabs a:focus, #id-tabs a:active {
	background-color: #DDDDDD;
}

#id-footer a {
	color: #FFFFFF;
	font-weight: bold;
}

#id-footer a:hover, #id-footer a:focus, #id-footer a:active {
	text-decoration: underline;
}
